<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block head %}{% endblock %}
  </head>
  <body>
    <image id="cloudrr-logo" src="/static/CLOUDRR-12-19-2023.png"></image>
    <div id="navbar">nav bar place holder
      <a class="navbar" href="/">home</a>
      <a class="navbar" href="/search">search</a>
      <a class="navbar" href="/user-bio">user bio</a>
    </div>
    {% block body %}{% endblock %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>