{% extends 'base.html' %}
{% block title %}Cloudrr Home{% endblock %}

{% block body %}

<div class="login-form" id="login-form">

    <form  action="/login" method="POST">
      <p>
        <label for="email" class="login-label form-label">Email</label>
        <br>
        <input class="login-input-text" type="text" name="email">
      </p>
    
      <p>
        <label for="password" class="login-label form-label">Password</label>
        <br>
        <input class="login-input-text" type="password" name="password">
      </p>
    
      <p>
        <input type="submit" class="button-29">
        <button class="button-85"><a href="/create-user">Create new account</a></button>
      </p>
    </form>
  </div>


{% endblock %}