{% extends 'base.html' %}
{% block title %}Cloudrr Search{% endblock %}

{% block body %}


<div id="animal-search">
    <!-- "species": "dog",
    "location": "OR",
    "age": "young", -->
    <form action="/animal-search">
        <label for="species-select">Type of animal:</label>
        <select name="species" id="species-select">
            <option value="Select">Select one</option>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Rabbit">Rabbit</option>
            <option value="Small & Furry">Small & Furry</option>
            <option value="Horse">Horse</option>
            <option value="Bird">Bird</option>
            <option value="Scales, Fins & Other">Scales, Fins & Other</option>
            <option value="Barnyard">Barnyard</option>
        </select>
        <br>
        <label for="animal-location">Location of animal:</label>
        <input type="text" name="animal-location" id="animal-location" placeholder="Enter City, State, or ZIP">
      

        </select>
        <br>
        <div>
            <span>Age of animal</span><br>
            <input type="checkbox" name="animal-age" value="baby" id="age-baby-check">
            <label for="age-baby-check">Baby</label>
            
            <input type="checkbox" name="animal-age" value="young" id="age-young-check">
            <label for="age-young-check">Young</label>

            <input type="checkbox" name="animal-age" value="adult" id="age-adult-check">
            <label for="age-adult-check">Adult</label>

            <input type="checkbox" name="animal-age" value="senior" id="age-senior-check">
            <label for="age-senior-check">Senior</label>
        </div>

        <label for="animalGenderList" class="form-label">Gender:</label>
        <input class="form-control" name="animal-gender" list="animalGenderOptions" id="animalGenderList" placeholder="Type or Click to view options">
        <datalist id="animalGenderOptions">
        </datalist>

        <div id="animalCoatContainer"></div>

        <label for="animalColorList" class="form-label">Color:</label>
        <input class="form-control" name="animal-color" list="animalColorOptions" id="animalColorList" placeholder="Type or Click to view options">
        <datalist id="animalColorOptions">
        </datalist>
        
        <br>
        <input type="submit">



    </form>



</div>


<div>
    <script>


        // when this page loads, we'll fetch for all data within animal-types.json 
        // store the response data in a variable --> animalData = fetch response

        // const animalData = () => (
        fetch('/animal-types')
            .then((response) => response.json())
            .then((responseData) => {


            // console.log('rd types', responseData.types)
            const animalSelectElement = document.querySelector('#species-select'); // species select
            animalSelectElement.addEventListener('change', (evt) => {
            evt.preventDefault();
            
            document.querySelector('#animalGenderOptions').innerHTML = ""
            document.querySelector('#animalCoatContainer').innerHTML = ""

            document.querySelector('#animalColorOptions').innerHTML = ""

            //once have selected animal, need to find index of animal in the json
            // let animalIndex = responseData.types.indexOf(animalSelected.value)
            // console.log('animalIndex', animalIndex)
            
            for (const animalType of responseData.types){
                    // if animalType.name === 'animalSelected'
                    
                    if (animalType.name === animalSelectElement.value){
                        for (const color of animalType.colors) {
                        document.querySelector('#animalColorOptions').insertAdjacentHTML('beforeend', `<option value="${color}">`);

                        }

                        for (const gender of animalType.genders) {
                            document.querySelector('#animalGenderOptions').insertAdjacentHTML('beforeend', `<option value="${gender}">`);

                        }

                        if (animalType.coats.length > 0) {
                                console.log(animalType.coats)
                                document.querySelector('#animalCoatContainer').insertAdjacentHTML('beforeend', `
                                <label for="animalCoatList" class="form-label">Coat type:</label>
                                <input class="form-control" name="animal-coat" list="animalCoatOptions" id="animalCoatList" placeholder="Type or Click to view options">
                                <datalist id="animalCoatOptions">
                                </datalist>
                                `);
                                for (const coat of animalType.coats) {
                                document.querySelector('#animalCoatOptions').insertAdjacentHTML('beforeend', `<option value="${coat}">`);
                                }
                        }
                    }
            }  
            })
            })
 
   



    </script>

</div>
{% endblock %}