{% extends 'base.html' %}
{% block title %}Cloudrr Search{% endblock %}

{% block body %}



<div id="animal-search">
    <!-- "species": "dog",
    "location": "OR",
    "age": "young", -->
    <form action="/animal-search">
        <label for="species-select">TYPE OF ANIMAL</label>
        <select name="species" id="species-select">
            <option value="Select">Select one</option>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Rabbit">Rabbit</option>
            <option value="Small & Furry">Small & Furry</option>
            <option value="Horse">Horse</option>
            <option value="Bird">Bird</option>
            <option value="Scales, Fins & Other">Scales, Fins & Other</option>
            <option value="Barnyard">Barnyard</option>
        </select>
        <br>
        <label for="animal-location">Location of animal:</label>
        <input type="text" class="form-control" name="animal-location" id="animal-location" placeholder="Enter City, State, or ZIP">
      

        </select>
        
        <div class="animal-age-selector">
            <span>Age of animal:</span><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="animal-age" value="baby" id="age-baby-check">
                <label class="form-check-label" for="age-baby-check">Baby</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="animal-age" value="young" id="age-young-check">
                <label class="form-check-label" for="age-young-check">Young</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="animal-age" value="adult" id="age-adult-check">
                <label class="form-check-label" for="age-adult-check">Adult</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="animal-age" value="senior" id="age-senior-check">
                <label class="form-check-label" for="age-senior-check">Senior</label>
            </div>
        </div>

        <label for="animalGenderList" class="form-label">Gender:</label>
        <input class="form-control" name="animal-gender" list="animalGenderOptions" id="animalGenderList" placeholder="Type or Click to view options">
        <datalist id="animalGenderOptions">
        </datalist>

        <div id="animalCoatContainer"></div>

        <label for="animalColorList" class="form-label">Color:</label>
        <input class="form-control" name="animal-color" list="animalColorOptions" id="animalColorList" placeholder="Type or Click to view options">
        <datalist id="animalColorOptions">
        </datalist>
        
        <br>
        <input class="button-64" type="submit">



    </form>



</div>


<div>
    <script src="/static/search.js"></script>

</div>
{% endblock %}