{% extends 'base.html' %}
{% block title %}Cloudrr User{% endblock %}

{% block body %}




<table class="animal-results bx-shdw">
    {% for rating in ratings %}
    <tr>
    
      <td class="col">
        {%if rating.pet_rating == "Pet"%}

        <img src="/static/heart-fill.svg" alt="Heart" width="32" height="32" class="rating-heart">

        {% else %}

        <img src="/static/heartbreak.svg" alt="Heart" width="32" height="32" class="rating-heart">

        {% endif %}
      </td>
        
      <td class="col-2">
        <img class="user-bio-pic" src="{{rating.animal.image}}" style="width:200px">
      </td>

          <td class="col">
            <div class="d-flex w-100 justify-content-between">
              {{ rating.animal.name }}
              
            </div>
          </td>

        <td id="user-pet-bio-handler">
          
          <a href="{{rating.animal.petfinder_link}}"><button class="button-36 button-buffer">Pet Bio</button></a>

        </td>

        </td>
      

    </tr>
    {% endfor %}
</table>


{% endblock %}